.small-post__container {
    display: grid;
    width: inherit;
    padding: 25px 20px;
    width: 100%;
}
.small-post__time {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.small-post__time p {
    font-family: var(--ff-intive);
    font-weight: bold;
    padding: 0 1em 0 0;
}
.small-post__p{
    font-family: var(--ff-intive2);
    font-weight: 400;
}
.delete-button__post {
    width: 200px;
    border: none;
    font-family: var(--ff-intive2);
    display: flex;
    color: var(--error-color);
    padding: 1em 2em;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    border-radius: 1em;
    border: 2px solid var(--error-color);
    justify-content: space-between;
    background: var(--white);
    margin-top: 1em;
}
.delete-button__post:hover {
    background: var(--error-color);
    color: var(--white);
    scale: 1.1;
    border: var(--white);
}
.delete-button__post:hover > .redcross {
    color: var(--white);
}
.redcross {
    color: var(--error-color);
}
.redcross:hover {
    font-size: 2.2em;
}
.small-post__link {
    color: var(--color-black);
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.small-post__img {
    width: 100%;
    height: 250px !important;
    object-fit: cover;
}
.small-post__title {
    margin: 15px 0;
    color: #000;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--ff-intive);
    font-weight: 400;
    text-transform: uppercase;
}