:root{
    --color-light-blue: #3273dc;
    --grey-color: #999;
    --white: #fff;
    --footer-bg: #007ac9;
    --grey-light-color: #666;
    --color-black: #000;
    --ff-intive2: 'Shippori Antique', sans-serif;
    --ff-intive: 'Shippori Antique B1', sans-serif;
}