.post__layout {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0 30px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
}
@media screen and (min-width: 800px) {
    .post__layout {
        grid-template-columns: repeat(3, 1fr);
    }
} 
@media screen and (max-width: 759px) {
    .post__layout {
        grid-template-columns: repeat(1, 1fr);
    }
}